@import "bourbon";

$cr:"CaptionRegular", sans-serif;
$rcb:"RobotoCondensedBold" , sans-serif;
$nr:"NarrowRegular", sans-serif;
$ptsr:"PTSansRegular", sans-serif;
$rcr: "RobotoCondensedRegular", sans-serif;



// main-colors

$light-brown:                #645755;
$black-brown:               #453737;
$yellow:                     #ffde24;
$yellow-shadow:              #ceb31c;
$red:                        #cb5454;
$green:                      #5ab462;


//fonts colors

$black:                      #000000;
$grey:                       #5c5a5a;
$grey-black:                 #434141;
$white:                      #ffffff;
