administrator/
bin/
cache/
cli/
del/
components/*
!components/com_jshopping/templates/default_div
templates/*
!templates/lightdiods
modules/
images/
includes/
language/
layouts/
libraries/
media/
node_modules/
plugins/
tmp/
configuration.php
index.html
index.php
LICENSE.txt
README.txt
robots.txt
robots.txt.dist
web.config.txt
